<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="image" content="{{site.url}}{{ site.baseurl }}/assets/card.png">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{site.url}}{{ site.baseurl }}/assets/card.png">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="{{ site.baseurl }}/index.css">
    <title>{{ site.title }}</title>
</head>
<header>
    <h1>{{ site.title }}</h1>
    <a href="{{ site.baseurl }}/about">About</a> 
    <a href="{{ site.baseurl }}/">Scripts</a> 
    <a href="https://github.com/mefiscripts/mefiscripts">GitHub</a>
</header>
<body>
  {{ content }}
</body>
</html>
